/* css styles */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
}

main {
    background-color: #fff;
    padding: 20px;
    margin: 0px;
    /* rounded corners */
}
h1 {
    color: #007bff;
}

.blockquote {
    font-family: 'Times New Roman', Times, serif;
    color: #000;
    background-color: #fffcdd;
    border-left: 4px dotted #007bff;

}

/*
h2, h3, blockquote, a, horzontal line? */